:root {
  --custom-navy: #283D55;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: unset;
}

main {
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  position: sticky;
  top: 0;
  background-color: var(--custom-navy);
  color: white;
  height: 1.75rem;
}

select {
  height: 2rem;
  margin: 0.5rem 0;
}

footer {
  display: flex;
  justify-content: center;
}

.list-header {
  height: 4.5rem;
  background-color: var(--custom-navy);
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  color: white;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

input {
  height: 1.5rem;
  margin: 0.5rem 0;
}

.container {
  display: grid;
  grid-template-rows: 4.5rem auto 4rem;
  height: 90vh;
  width: 65rem;
  margin: 2.5rem auto 0 auto;
  box-shadow: 0 3px 4px rgba(0 0 0 / 50%);
  border-radius: 0.5rem;
}

.task-list-section {
  max-height: 24rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.task-table {
  margin-top: 2rem;
}

.task-table thead {
  background-color: var(--custom-navy);
  color: white;
}

.task-table thead tr,
.task-row {
  display: grid;
  grid-template-columns: auto 15rem 5rem;
  border-bottom: 1px solid black;
  padding: 0 0.5rem;
}

.task-table thead tr {
  height: 2.5rem;
}

.task-table thead tr,
.task-row {
  align-items: center;
}

.task-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.remove-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-btn,
.submit-btn {
  border: none;
  border-radius: .25rem;
}

.remove-btn {
  font-size: 1.5rem;
  background: none;
  width: 3rem;
  height: 3rem;
}

.remove-btn:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.submit-btn {
  background-color: #283d55;
  color: white;
  padding: 0.5rem;
  height: 2rem;
}

.submit-btn:hover {
  background-color: rgba(40 61 85 / 50%);
}

.remove-btn:active,
.submit-btn:active {
  outline: none;
  transform: translateY(2px);
}

select:focus,
.remove-btn:focus,
.submit-btn:focus {
  outline: none;
}

.add-form-section {
  margin: 0 0.5rem;
}

.add-task-form {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

.submit-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 2rem;
}

.icon-plus {
  margin-right: .5rem;
}

.btn {
  background-color: var(--custom-navy);
  width: 6rem;
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  justify-content: center;
  border-radius: 0.25rem;
}

.btn a {
  color: white;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.btn.go-back {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: auto;
}

.btn.go-back .icon-back_arrows {
  margin-right: 0.5rem;
}

.btn.go-forward {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: auto;
}

.btn.go-forward .icon-forward_arrows {
  margin-left: 0.5rem;
}
/*******************************************************************************/
/*******************************************************************************/
/*********************************Category Page*********************************/
/*******************************************************************************/
/*******************************************************************************/
.table-container tr, .table-containertd {
  border: 1px solid black;
}

.category-main {
  padding: 0 1rem;
}

.add-category-form {
  display: flex;
  align-items: center;
}

.add-category-form input[name='category_name'] {
  margin: .5rem;
}

.category-list-container {
  padding: 0 1rem;
}

.table-container {
  max-height: 29rem;
  overflow-y: auto;
  overflow-x: hidden;
  width: 23rem;
  border-radius: 0.5rem;
}

.table-container tbody {
  box-shadow: inset 0 3px 3px rgba(0 0 0 / 50%), inset 0 -1px 3px rgba(0 0 0 / 50%);
}

.table-container td:first-of-type {
  padding-left: .5rem;
}

.table-container td:nth-of-type(2) {
  width: 3rem;
}

/*******************************************************************************/
/*******************************************************************************/
/*********************************Media Queries*********************************/
/*******************************************************************************/
/*******************************************************************************/
@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }
  .container {
    width: 46rem;
    margin-top: 2.5rem;

  }
}

@media screen and (max-width: 414px) {
  .container {
    width: calc(100% - 1rem);
  }

  .add-task-form {
    width: 100%;
  }
}